In [6]:
import pandas as pd
import matplotlib

In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\webfoco\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.1.1)
Requirement already satisfied: numpy>=1.23.2 in c:\users\webfoco\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\webfoco\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\webfoco\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\webfoco\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\webfoco\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: C:\Users\Webfoco\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [16]:
import sqlite3

In [17]:
connection = sqlite3.connect("populacaorua.db")

In [19]:
cursor = connection.cursor()
cursor.execute('''
    CREATE TABLE IF NOT EXISTS minha_tabela (
        id INTEGER PRIMARY KEY,
        nome TEXT,
        idade INTEGER,
        orientacao_sexual TEXT
    )
''')

In [20]:
df = pd.read_csv('populacao.rua.csv')
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 134,Unnamed: 135,Unnamed: 136,Unnamed: 137,Unnamed: 138,Unnamed: 139,Unnamed: 140,Unnamed: 141,Unnamed: 142,Unnamed: 143
0,NaN,Disque 100 - Ano 2011 - População Situação de ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Sexo,JAN,FEV,MAR,ABR,MAI,JUN,JUL,AGO,...,MAI,JUN,JUL,AGO,SET,OUT,NOV,DEZ,TOTAL,%
2,NaN,Feminino,15,6,2,2,7,5,5,8,...,26,23,24,34,21,22,22,10,254,26.16%
3,NaN,Masculino,43,18,20,15,22,17,25,16,...,55,56,54,54,53,36,42,14,558,57.47%
4,NaN,Não Informado,4,3,4,4,7,4,12,17,...,12,12,16,15,17,15,21,8,159,16.37%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,NaN,Não Informada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,NaN,NaN,1,NaN,NaN,NaN,NaN,3,0.30%
62,NaN,Não possui deficiência,54,21,24,17,31,22,40,37,...,79,72,72,72,70,55,63,26,749,76.12%
63,NaN,Visual,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,1,NaN,NaN,1,1,NaN,NaN,8,0.81%
64,NaN,Total,62,27,26,21,37,26,42,41,...,93,94,95,103,95,75,85,32,984,100.00%
65,NaN,*Obs: Estão sendo consideradas todas as defici...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df.sort_values

<bound method DataFrame.sort_values of     Unnamed: 0                                         Unnamed: 1 Unnamed: 2  \
0          NaN  Disque 100 - Ano 2011 - População Situação de ...        NaN
1          NaN                                               Sexo        JAN
2          NaN                                           Feminino         15
3          NaN                                          Masculino         43
4          NaN                                      Não Informado          4
..         ...                                                ...        ...
61         NaN                                      Não Informada        NaN
62         NaN                             Não possui deficiência         54
63         NaN                                             Visual        NaN
64         NaN                                              Total         62
65         NaN  *Obs: Estão sendo consideradas todas as defici...        NaN

   Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0         NaN        NaN        NaN        NaN        NaN        NaN
1         FEV        MAR        ABR        MAI        JUN        JUL
2           6          2          2          7          5          5
3          18         20         15         22         17         25
4           3          4          4          7          4         12
..        ...        ...        ...        ...        ...        ...
61        NaN        NaN        NaN        NaN        NaN        NaN
62         21         24         17         31         22         40
63        NaN        NaN        NaN          1        NaN        NaN
64         27         26         21         37         26         42
65        NaN        NaN        NaN        NaN        NaN        NaN

   Unnamed: 9  ... Unnamed: 134 Unnamed: 135 Unnamed: 136 Unnamed: 137  \
0         NaN  ...          NaN          NaN          NaN          NaN
1         AGO  ...          MAI          JUN          JUL          AGO
2           8  ...           26           23           24           34
3          16  ...           55           56           54           54
4          17  ...           12           12           16           15
..        ...  ...          ...          ...          ...          ...
61        NaN  ...            1          NaN          NaN            1
62         37  ...           79           72           72           72
63        NaN  ...          NaN            1          NaN          NaN
64         41  ...           93           94           95          103
65        NaN  ...          NaN          NaN          NaN          NaN

   Unnamed: 138 Unnamed: 139  Unnamed: 140 Unnamed: 141 Unnamed: 142  \
0           NaN          NaN           NaN          NaN          NaN
1           SET          OUT           NOV          DEZ        TOTAL
2            21           22            22           10          254
3            53           36            42           14          558
4            17           15            21            8          159
..          ...          ...           ...          ...          ...
61          NaN          NaN           NaN          NaN            3
62           70           55            63           26          749
63            1            1           NaN          NaN            8
64           95           75            85           32          984
65          NaN          NaN           NaN          NaN          NaN

   Unnamed: 143
0           NaN
1             %
2        26.16%
3        57.47%
4        16.37%
..          ...
61        0.30%
62       76.12%
63        0.81%
64      100.00%
65          NaN

[66 rows x 144 columns]>

In [32]:
df = df.dropna()


df

Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 1, Unnamed: 2, Unnamed: 3, Unnamed: 4, Unnamed: 5, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9, Unnamed: 10, Unnamed: 11, Unnamed: 12, Unnamed: 13, Unnamed: 14, Unnamed: 15, Unnamed: 16, Unnamed: 17, Unnamed: 18, Unnamed: 19, Unnamed: 20, Unnamed: 21, Unnamed: 22, Unnamed: 23, Unnamed: 24, Unnamed: 25, Unnamed: 26, Unnamed: 27, Unnamed: 28, Unnamed: 29, Unnamed: 30, Unnamed: 31, Unnamed: 32, Unnamed: 33, Unnamed: 34, Unnamed: 35, Unnamed: 36, Unnamed: 37, Unnamed: 38, Unnamed: 39, Unnamed: 40, Unnamed: 41, Unnamed: 42, Unnamed: 43, Unnamed: 44, Unnamed: 45, Unnamed: 46, Unnamed: 47, Unnamed: 48, Unnamed: 49, Unnamed: 50, Unnamed: 51, Unnamed: 52, Unnamed: 53, Unnamed: 54, Unnamed: 55, Unnamed: 56, Unnamed: 57, Unnamed: 58, Unnamed: 59, Unnamed: 60, Unnamed: 61, Unnamed: 62, Unnamed: 63, Unnamed: 64, Unnamed: 65, Unnamed: 66, Unnamed: 67, Unnamed: 68, Unnamed: 69, Unnamed: 70, Unnamed: 71, Unnamed: 72, Unnamed: 73, Unnamed: 74, Unnamed: 75, Unnamed: 76, Unnamed: 77, Unnamed: 78, Unnamed: 79, Unnamed: 80, Unnamed: 81, Unnamed: 82, Unnamed: 83, Unnamed: 84, Unnamed: 85, Unnamed: 86, Unnamed: 87, Unnamed: 88, Unnamed: 89, Unnamed: 90, Unnamed: 91, Unnamed: 92, Unnamed: 93, Unnamed: 94, Unnamed: 95, Unnamed: 96, Unnamed: 97, Unnamed: 98, Unnamed: 99, ...]
Index: []

[0 rows x 144 columns]

In [34]:
df = df.dropna